<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppleVisitsApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LocationKitApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ParkourMethodApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Sense360App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D87CC3F01C129607005666E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87DFD1B1C12A35F00F8E721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87DFD341C12A38F00F8E721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8FC0A491BFF570D00AB660A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8FC0A5D1BFF570D00AB660A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8FC0A681BFF570D00AB660A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
